/* let the list element under section element with menu class without bullet points */
	section.menu li{
		list-style: none;

	}
/* we want to let the a element in li element under section element with menu look like buttons -remove underlines,set color around and change text color*/
	section.menu a:link, a:visited {
		text-decoration: none;
		background-color: limegreen;
		border: 2px solid orange;
		color: black;
		display: block;
		width: 200px;
		text-align: center;
		margin-block: 2px;
	}
/* when hovering over on menu button, we want to let users know that this is the target by changing its color while hovered */
	section.menu a:hover {
		background-color: rebeccapurple;
		color: yellowgreen;
	}
/* when the user choose and click on the button, we want to let the while clicking color changed */
	section.menu a:active {
		background-color: black;
		color: whitesmoke;
	}
/* we want to make one of the list items be bigger than the others while hovered over, use nth-child(3):hover */
	section.menu li:nth-child(3):hover {
		font-size:24px;
	}

/* want to apply box around section1 book list, and its content, ul, li */

	#booklistcontainer {
		background-color: palegreen;
		padding: 10px 10px 10px 10px;
		border:3px solid seagreen;
		margin: 40px;
		width: 400px;
		height: 200px;
		box-sizing: border-box;
		overflow: auto;
	
	}
	#booklist {
		background-color: seagreen;
		padding: 5px 5px 5px 5px;
		margin: 10px;
	}

	div #booklist li {
		list-style: none;
		color: black;
	}

	section li {
		color: black;
	}

	.highlight {
		color:red;
		text-align: center;
	}

	#italic {
		font-style: italic;
	}

	#Section2 > h2 {
		color:greenyellow;
	}

	#Section2 {
		background-color: antiquewhite;
		background-image: url("Winter-Teams-BG-7.png");
	}

	#Section3 p {
		background-color: darkorange;
		width: 300px;
		height: 35px;
		border: 1px solid black;
		float: right;

	}

	#Section3 div {
		background-color: whitesmoke;
		overflow: hidden;
	}
	#Section3 a {
		clear: both;
	}


